//cool fonts
$lobster: 'Lobster', cursive;


.hexback {
	background-color: black;
}

	.container {
		color: white;
		background-color: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-family: $lobster;
		padding-top: 100px;
		}
		.clock {
			width: 100%;
			font-size: 180px;
		}