body {
	// background-color: grey;
}
.container {
	// background-color: grey;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	// padding-top: 200px;
}
.hour {
	width: 200px;
	height: 100%;
	// background-color: grey;
	display: inline-block;
	text-align: center;
	font-size: 180px;
}
.min {
	width: 200px;
	height: 100%;
	// background-color: grey;
	display: inline-block;
	text-align: center;
	font-size: 180px;
}
.sec {
	width: 200px;
	height: 100%;
	// background-color: grey;
	display: inline-block;
	text-align: center;
	font-size: 180px;
}
.colon {
	width: 50px;
	// height: 100%;
	// background-color: grey;
	display: inline-block;
	text-align: center;
	font-size: 180px;
}