//cool fonts
$bangers: 'Bangers', cursive;

body {
	background-color: black;
}

.container {
color: white;
width: 100%;
margin: 0 auto;
font-family: $bangers;
}
	.hulk {
	background-image: url(https://ladygeekgirl.files.wordpress.com/2013/03/hulk-angry.jpg);
	background-position: center;
	width: 100%;

	}
	.clock {
		width: 100%;
		padding-top: 750px;
		padding-bottom: 50px;
		font-size: 140px;
		text-align: center;
		opacity: 0.8;
		text-shadow: 5px 5px 1px black;
	}
	.change {
		width: 100%;
		font-size: 142px;
	}